.box {
    display: grid;
    grid-template-rows: 1fr;
}

.pageSelector {

}

.selectedPage {
    font-weight: bold;
}

.usersBox {
    display: grid;

}

.usersBox :hover {
    background-color: #EAE0C8;
}