.item {
    height: 32px;
    padding: 3px;
    justify-items: self-start;

}

.item a {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.item img {
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
}
