.item {
    height: 32px;
    padding: 3px;
    justify-items: self-start;
    display: grid;
    grid-auto-flow: row;
    font-size: 2ex;
    align-content: start;
    align-items: start;
}

.item img {
    height: 5ex;
    margin-top: 5px;
    margin-left: 10px;
}

