.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "i n d";
}

.imgBox {
    display: grid;
    grid-area: i;
    justify-content: center;
}

.infoBox {
    grid-area: n;
    display: grid;
    grid-template:
    "n n"
    "p a";
    justify-content: start;
}

.durationBox {
    display: grid;
    grid-area: d;
    justify-content: center;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.performer {
    grid-area: p;
}

.album {
    grid-area: a;
}

.name {
    text-decoration: #EAE0C8 underline;
    font-weight: bold;
    grid-area: n;
}