.box {
    display: grid;
    grid-template-columns: 1fr 16fr;
    grid-template-rows: 1fr 1fr;
    border: solid 0.3rem #EAE0C8;
    border-radius: 0.7rem;
    height: 10rem;
    align-items: center;
}

.leftside{
    
}
.leftside button{
    padding-left: 300px;
    padding-inline: 10px;
}
.rightside{
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
/*    grid-template-rows: 1fr 1fr;*/
    align-content: space-between;
}

.fullName{

}
.status{

}
.country{

}
.city{

}

.img {
    height: 100px;
    width: 100px;
    border-radius: 55px;
    border: solid 3px #EAE0C8;
}
